/* Fonts */
$font-one:  'Lato', sans-serif;
$font-two:  'Shadows Into Light', cursive;
$font-three: 'Nothing You Could Do', cursive;

//$font-one: helveticaneue-ultralight;
//$font-two: helvetica;
//$font-three: helvetica-bold;






/* Colours and Theme */
$color-one: lightgrey;  //#0fd
$color-two: lightblue;     //#fff
$color-three: white;

$fcolor-a: white;
$fcolor-b: black;
$fcolor-c: red;
/* sizes */
$large: 3rem;
$medium: 1.7rem;
$small: 1.2rem;
$smaller: 0.9rem;